In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [55]:
df = pd.read_csv('adult.csv')
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,#NAME?,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [56]:
df.shape

(5000, 15)

In [57]:
df.dtypes

age               object
workclass         object
fnlwgt            object
education         object
education_num     object
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

In [58]:
df['age'] = pd.to_numeric(df['age'],errors='coerce')
df['fnlwgt'] = pd.to_numeric(df['fnlwgt'],errors='coerce')
df['fnlwgt'] = pd.to_numeric(df['fnlwgt'],errors='coerce')
df['education_num'] = pd.to_numeric(df['education_num'],errors='coerce')

In [59]:
df.tail()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
4995,43.0,Private,222971.0,5th-6th,3.0,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,Mexico,<=50K
4996,31.0,Private,259425.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
4997,47.0,Self-emp-inc,212120.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
4998,NaN,Private,245880.0,HS-grad,9.0,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,60,United-States,<=50K
4999,58.0,Local-gov,54947.0,Some-college,10.0,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,55,United-States,<=50K

In [60]:
df['income'].unique().sum()

'<=50K>50K'

In [61]:
df.duplicated().sum()

2

In [62]:
df.drop_duplicates(inplace=True)

In [63]:
df.isnull().sum()

age                48
workclass           0
fnlwgt            106
education           0
education_num      57
marital_status      0
occupation          0
relationship        0
race                0
sex                 0
capital_gain        0
capital_loss        0
hours_per_week      0
native_country      0
income              0
dtype: int64

In [64]:
df['income'] = [0 if x == '<=50K' else 1 for x in df['income']]

In [65]:

for col_name in df.columns:
    if df[col_name].dtypes == 'object':
        unique_cat = len(df[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'workclass' has 8 unique categories
Feature 'education' has 17 unique categories
Feature 'marital_status' has 7 unique categories
Feature 'occupation' has 15 unique categories
Feature 'relationship' has 6 unique categories
Feature 'race' has 6 unique categories
Feature 'sex' has 3 unique categories
Feature 'native_country' has 40 unique categories

In [66]:
df['native_country'].value_counts().sort_values(ascending=False).head(10)

United-States    4464
Mexico            103
?                  97
Canada             28
Philippines        22
Germany            22
England            16
Puerto-Rico        16
El-Salvador        16
China              15
Name: native_country, dtype: int64

In [67]:
# In this case, bucket low frequecy categories as "Other"
df['native_country'] = ['United-States ' if x == 'United-States' else 'Other' for x in df['native_country']]

print(df['native_country'].value_counts().sort_values(ascending=False))

United-States     4464
Other              534
Name: native_country, dtype: int64

In [68]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
UL = Q3 + 1.5*(IQR)
LL = Q1 - 1.5*(IQR)

In [69]:
UL

age                   75.5
fnlwgt            428039.0
education_num         16.5
capital_gain           0.0
capital_loss           0.0
hours_per_week        52.5
income                 0.0
dtype: float64

In [70]:
LL

age                  -0.5
fnlwgt           -68447.0
education_num         4.5
capital_gain          0.0
capital_loss          0.0
hours_per_week       32.5
income                0.0
dtype: float64

In [71]:
a = df['age']>75.5
b = df['fnlwgt']>428039
c = df['hours_per_week']>52.5

In [72]:
df['age'].drop(a.index,inplace=True)

In [73]:
df['fnlwgt'].drop(b.index,inplace=True)

In [74]:
df['hours_per_week'].drop(c.index,inplace=True)

In [75]:
df_num = df[df.select_dtypes(include = np.number).columns]

In [76]:
df_cat = df[df.select_dtypes(include='object').columns]

In [77]:
df_cat

,workclass,education,marital_status,occupation,relationship,race,sex,native_country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,#NAME?,United-States
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Other
...,...,...,...,...,...,...,...,...
4995,Private,5th-6th,Never-married,Machine-op-inspct,Unmarried,White,Female,Other
4996,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States
4997,Self-emp-inc,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States
4998,Private,HS-grad,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
4999,Local-gov,Some-college,Never-married,Prof-specialty,Not-in-family,White,Female,United-States

In [78]:
df_dummy = pd.get_dummies(df_cat,drop_first=True)

In [79]:
data = pd.concat([df_num,df_dummy],axis=1)

In [80]:
data

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male,native_country_United-States
0,39.0,77516.0,13.0,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,1,1
1,50.0,83311.0,13.0,0,0,13,0,0,0,0,...,0,0,0,0,0,0,1,0,1,1
2,38.0,215646.0,9.0,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,1,1
3,53.0,234721.0,7.0,0,0,40,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
4,28.0,338409.0,13.0,0,0,40,0,0,0,1,...,0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,43.0,222971.0,3.0,0,0,40,0,0,0,1,...,1,0,0,0,0,0,1,1,0,0
4996,31.0,259425.0,9.0,0,0,40,1,0,0,1,...,0,0,0,0,0,0,1,0,1,1
4997,47.0,212120.0,9.0,0,0,40,1,0,0,0,...,0,0,0,0,0,0,1,0,1,1
4998,NaN,245880.0,9.0,0,0,60,0,0,0,1,...,0,0,0,0,0,0,1,0,1,1
4999,58.0,54947.0,10.0,0,0,55,0,0,1,0,...,0,0,0,0,0,0,1,1,0,1

In [81]:
from sklearn.preprocessing import Imputer

imp = Imputer(missing_values='NaN', strategy='median', axis=0)
imp.fit(data)
data = pd.DataFrame(data=imp.transform(data) , columns=data.columns)

C:\Users\Ashish\Anaconda3\envs\python\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [82]:
x= data.drop(['income'],axis=1)
y=data['income']

In [83]:
from sklearn.model_selection import train_test_split

In [84]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size = 0.7,random_state=8)

In [85]:
from sklearn.preprocessing import StandardScaler

In [86]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [87]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [88]:
lr = LogisticRegression()

In [89]:
lr.fit(x_train,y_train)

C:\Users\Ashish\Anaconda3\envs\python\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [90]:
y_pred = lr.predict(x_test)

In [91]:
accuracy =  accuracy_score(y_test, y_pred)

In [92]:
accuracy

0.838

In [95]:
from sklearn.tree import DecisionTreeClassifier
from scipy.stats import randint
from sklearn.model_selection import RandomizedSearchCV

In [94]:
dt = DecisionTreeClassifier()
dt.fit(x_train,y_train)
y_pred = dt.predict(x_test)
print("Accuracy:",accuracy_score(y_test, y_pred))

Accuracy: 0.7746666666666666

In [97]:
depth = np.arange(1,30)
param_dist = {"max_depth":depth, 
              "max_features": randint(1, 9), 
              "min_samples_leaf": randint(1, 9), 
              "criterion": ["gini", "entropy"]}
tree_cv = RandomizedSearchCV(dt, param_dist, cv = 5)
tree_cv.fit(x_train, y_train)
print("Tuned Decision Tree Parameters: {}".format(tree_cv.best_params_)) 
print("Best score is {}".format(tree_cv.best_score_))

Tuned Decision Tree Parameters: {'criterion': 'gini', 'max_depth': 29, 'max_features': 7, 'min_samples_leaf': 8}
Best score is 0.8198970840480274

In [40]:
import statsmodels.api as sm

In [41]:
logit_model=sm.Logit(y_train,x_train)
result=logit_model.fit()
print(result.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.443082
         Iterations: 35

C:\Users\Ashish\Anaconda3\envs\python\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

                           Logit Regression Results
==============================================================================
Dep. Variable:                 income   No. Observations:                 3498
Model:                          Logit   Df Residuals:                     3438
Method:                           MLE   Df Model:                           59
Date:                Mon, 10 Aug 2020   Pseudo R-squ.:                  0.1972
Time:                        21:10:05   Log-Likelihood:                -1549.9
converged:                      False   LL-Null:                       -1930.5
Covariance Type:            nonrobust   LLR p-value:                1.146e-122
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.2086      0.058      3.606      0.000       0.095       0.322
x2             0.0195      0.047      0.415      0.678      -0.073       0.112
x3             0.3516        nan        nan        nan         nan         nan
x4             6.6325      0.315     21.075      0.000       6.016       7.249
x5             0.2411      0.045      5.369      0.000       0.153       0.329
x6             0.2780      0.052      5.321      0.000       0.176       0.380
x7             0.0763   1.23e+06   6.22e-08      1.000    -2.4e+06     2.4e+06
x8            -0.0435   1.78e+06  -2.44e-08      1.000   -3.49e+06    3.49e+06
x9             0.0412   3.34e+06   1.24e-08      1.000   -6.54e+06    6.54e+06
x10            0.1328   1.33e+06   9.99e-08      1.000   -2.61e+06    2.61e+06
x11           -0.0784   1.89e+06  -4.16e-08      1.000    -3.7e+06     3.7e+06
x12           -0.0195    1.4e+06   -1.4e-08      1.000   -2.74e+06    2.74e+06
x13            0.0120   1.22e+05   9.84e-08      1.000   -2.38e+05    2.38e+05
x14           -0.0133        nan        nan        nan         nan         nan
x15            0.0173        nan        nan        nan         nan         nan
x16            0.0776        nan        nan        nan         nan         nan
x17            0.0493        nan        nan        nan         nan         nan
x18            0.0457        nan        nan        nan         nan         nan
x19           -0.0658        nan        nan        nan         nan         nan
x20            0.0346        nan        nan        nan         nan         nan
x21            0.0529        nan        nan        nan         nan         nan
x22           -0.0111        nan        nan        nan         nan         nan
x23            0.0870        nan        nan        nan         nan         nan
x24            0.1446        nan        nan        nan         nan         nan
x25            0.0746        nan        nan        nan         nan         nan
x26            0.1091        nan        nan        nan         nan         nan
x27            0.0354        nan        nan        nan         nan         nan
x28            0.2063        nan        nan        nan         nan         nan
x29           -0.0303        nan        nan        nan         nan         nan
x30           -0.0246      0.057     -0.432      0.666      -0.136       0.087
x31            0.5498      0.295      1.866      0.062      -0.028       1.127
x32           -0.0167      0.053     -0.314      0.753      -0.121       0.088
x33            0.0111      0.086      0.130      0.897      -0.157       0.179
x34           -0.0083      0.055     -0.151      0.880      -0.116       0.099
x35            0.0229      0.055      0.418      0.676      -0.085       0.130
x36           -0.0962   2.29e+06  -4.21e-08      1.000   -4.48e+06    4.48e+06
x37           -0.0132   1.22e+05  -1.09e-07      1.000   -2.38e+05    2.38e+05
x38           -0.0239   2.35e+06  -1.02e-08      1.000   -4.61e+06    4.61e+06
x39            0.2257   2.31e+06   9.75e-08      1.000   -4.54e+06    4.54e+06
x40           -0.1521   1.17e+06  -1.29e-07      1.000    -2.3e+06     2.3e+06
x41           -0.0539   1.44e+06  -3.75e-08      1.000   -2.82e+06    2.82e+06
x42           -0.0867   1.77e+06  -4.91e-08      1.000   -3.46e+06    3.46e+06
x43           -0.0219   2.14e+06  -1.02e-08      1.000    -4.2e+06     4.2e+06
x44            0.0019      5e+05   3.88e-09      1.000    -9.8e+05     9.8e+05
x45            0.0965   2.36e+06    4.1e-08      1.000   -4.62e+06    4.62e+06
x46            0.0096   9.71e+05   9.93e-09      1.000    -1.9e+06     1.9e+06
x47            0.0547   2.31e+06   2.36e-08      1.000   -4.54e+06    4.54e+06
x48            0.0860   1.22e+06   7.07e-08      1.000   -2.38e+06    2.38e+06
x49           -0.0629    1.6e+06  -3.92e-08      1.000   -3.15e+06    3.15e+06
x50           -0.2048      0.257     -0.796      0.426      -0.709       0.300
x51           -0.0622      0.096     -0.651      0.515      -0.250       0.125
x52           -0.1012      0.218     -0.465      0.642      -0.528       0.326
x53           -0.0651      0.190     -0.342      0.732      -0.438       0.308
x54            0.1785      0.052      3.453      0.001       0.077       0.280
x55            0.0175      0.053      0.331      0.741      -0.086       0.121
x56            0.0878      0.060      1.458      0.145      -0.030       0.206
x57            0.1471      0.080      1.840      0.066      -0.010       0.304
x58           -0.0151      0.059     -0.256      0.798      -0.131       0.100
x59            0.1742      0.089      1.955      0.051      -0.000       0.349
x60           -0.0004      0.223     -0.002      0.998      -0.438       0.438
x61            0.1267      0.217      0.585      0.559      -0.298       0.551
x62            0.0806      0.052      1.548      0.122      -0.021       0.183
==============================================================================

C:\Users\Ashish\Anaconda3\envs\python\lib\site-packages\scipy\stats\_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
C:\Users\Ashish\Anaconda3\envs\python\lib\site-packages\scipy\stats\_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
C:\Users\Ashish\Anaconda3\envs\python\lib\site-packages\scipy\stats\_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

In [42]:
# Use PolynomialFeatures in sklearn.preprocessing to create two-way interactions for all features
from itertools import combinations
from sklearn.preprocessing import PolynomialFeatures

def add_interactions(df):
    # Get feature names
    combos = list(combinations(list(df.columns), 2))
    colnames = list(df.columns) + ['_'.join(x) for x in combos]
    
    # Find interactions
    poly = PolynomialFeatures(interaction_only=True, include_bias=False)
    df = poly.fit_transform(df)
    df = pd.DataFrame(df)
    df.columns = colnames
    
    # Remove interaction terms with all 0 values            
    noint_indicies = [i for i, x in enumerate(list((df == 0).all())) if x]
    df = df.drop(df.columns[noint_indicies], axis=1)
    
    return df

In [43]:
data = add_interactions(data)
print(data.head(5))

    age    fnlwgt  education_num  capital_gain  capital_loss  hours_per_week  \
0  39.0   77516.0           13.0        2174.0           0.0            40.0
1  50.0   83311.0           13.0           0.0           0.0            13.0
2  38.0  215646.0            9.0           0.0           0.0            40.0
3  53.0  234721.0            7.0           0.0           0.0            40.0
4  28.0  338409.0           13.0           0.0           0.0            40.0

   income  workclass_Federal-gov  workclass_Local-gov  workclass_Private  ...  \
0     0.0                    0.0                  0.0                0.0  ...
1     0.0                    0.0                  0.0                0.0  ...
2     0.0                    0.0                  0.0                1.0  ...
3     0.0                    0.0                  0.0                1.0  ...
4     0.0                    0.0                  0.0                1.0  ...

   race_Black_sex_Male  race_Black_native_country_United-States   \
0                  0.0                                       0.0
1                  0.0                                       0.0
2                  0.0                                       0.0
3                  0.0                                       1.0
4                  0.0                                       0.0

   race_Other_sex_Female  race_Other_sex_Male  \
0                    0.0                  0.0
1                    0.0                  0.0
2                    0.0                  0.0
3                    0.0                  0.0
4                    0.0                  0.0

   race_Other_native_country_United-States   race_White_sex_Female  \
0                                       0.0                    0.0
1                                       0.0                    0.0
2                                       0.0                    0.0
3                                       0.0                    0.0
4                                       0.0                    0.0

   race_White_sex_Male  race_White_native_country_United-States   \
0                  1.0                                       1.0
1                  1.0                                       1.0
2                  1.0                                       1.0
3                  0.0                                       0.0
4                  0.0                                       0.0

   sex_Female_native_country_United-States   \
0                                       0.0
1                                       0.0
2                                       0.0
3                                       0.0
4                                       0.0

   sex_Male_native_country_United-States
0                                     1.0
1                                     1.0
2                                     1.0
3                                     0.0
4                                     0.0

[5 rows x 1497 columns]

In [44]:
x= data.drop(['income'],axis=1)
y=data['income']
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size = 0.7,random_state=8)
lr = LogisticRegression()
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)
accuracy =  accuracy_score(y_test, y_pred)
accuracy

C:\Users\Ashish\Anaconda3\envs\python\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

1.0

In [45]:
y_train

2530    0.0
2239    0.0
2699    0.0
3474    0.0
3226    0.0
       ...
2181    1.0
2409    0.0
2033    0.0
1364    0.0
4547    0.0
Name: income, Length: 3498, dtype: float64

In [46]:
x_train

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,...,race_Black_sex_Male,race_Black_native_country_United-States,race_Other_sex_Female,race_Other_sex_Male,race_Other_native_country_United-States,race_White_sex_Female,race_White_sex_Male,race_White_native_country_United-States,sex_Female_native_country_United-States,sex_Male_native_country_United-States
2530,21.0,294789.0,10.0,0.0,0.0,25.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2239,36.0,184659.0,10.0,0.0,0.0,52.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
2699,40.0,229364.0,14.0,0.0,0.0,45.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
3474,43.0,108945.0,10.0,0.0,0.0,48.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3226,58.0,310085.0,6.0,0.0,0.0,40.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2181,34.0,244147.0,13.0,0.0,0.0,40.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2409,27.0,387776.0,10.0,0.0,0.0,40.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
2033,47.0,185465.0,9.0,0.0,0.0,40.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1364,31.0,168312.0,11.0,0.0,0.0,40.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4547,40.0,397346.0,12.0,0.0,0.0,40.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [47]:
# Such a large set of features can cause overfitting and also slow computing
# Use feature selection to select the most important features
import sklearn.feature_selection

select = sklearn.feature_selection.SelectKBest(k=20)
selected_features = select.fit(x_train, y_train)
indices_selected = selected_features.get_support(indices=True)
colnames_selected = [x.columns[i] for i in indices_selected]

X_train_selected = x_train[colnames_selected]
X_test_selected = x_test[colnames_selected]

C:\Users\Ashish\Anaconda3\envs\python\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: UserWarning: Features [ 459  478  590  591  593  751  760  762  768  786  789  791  792  793
  817  841  842  855  863  864  897  906 1004 1006 1020 1077 1081 1090
 1098 1188 1193 1267 1269 1282 1288 1313 1474] are constant.
  UserWarning)
C:\Users\Ashish\Anaconda3\envs\python\lib\site-packages\sklearn\feature_selection\univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

In [48]:
print(colnames_selected)

['marital_status_Married-civ-spouse', 'age_income', 'age_marital_status_Married-civ-spouse', 'fnlwgt_income', 'education_num_income', 'education_num_marital_status_Married-civ-spouse', 'hours_per_week_income', 'hours_per_week_marital_status_Married-civ-spouse', 'income_workclass_Private', 'income_education_Bachelors', 'income_education_HS-grad', 'income_marital_status_Married-civ-spouse', 'income_occupation_Exec-managerial', 'income_occupation_Prof-specialty', 'income_race_White', 'income_sex_Male', 'income_native_country_United-States ', 'marital_status_Married-civ-spouse_race_White', 'marital_status_Married-civ-spouse_sex_Male', 'marital_status_Married-civ-spouse_native_country_United-States ']

In [49]:
lr = LogisticRegression()
lr.fit(X_train_selected,y_train)
y_pred = lr.predict(X_test_selected)
accuracy =  accuracy_score(y_test, y_pred)
accuracy

C:\Users\Ashish\Anaconda3\envs\python\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

1.0

In [50]:
# Find performance of model using preprocessed data
auc_processed = find_model_perf(X_train_selected, y_train, X_test_selected, y_test)
print(auc_processed)

NameError: name 'find_model_perf' is not defined